.searchbox{margin-bottom:-40px;}
.ui-grid-a{padding-left:2%;}
.ui-block-a{padding-left:0%;margin-top:10px;}

h5{font-size:14px;}
.logo{width:100%;height:50%;margin-bottom:3%;}
.ridesharedsummaryblock{font-size:14px;padding:0px;}
.ridesharedsummaryimage{float:left;margin-right:10px;margin-bottom:5px;width:60px;height:60px;background-color:#F0F0F0;border-radius:5px;}
.ridesharedsummarytext{color:white;font-size:14px;padding-left:70px;font-weight:bold;}
.getridesharedsummaryimage{float:left;margin-right:10px;margin-bottom:35px;width:90px;height:90px;border-radius:10px;}
.getridesharedsummarytext{color:white;font-size:14px;padding-left:100px;}
.ridesharedsummaryendline{margin-left:-4%;margin-right:-4%;margin-top:5px;margin-bottom:10px;border:1px inset white;}
.ridesharekenyaprofileimage{width:100%;height:200px;border-radius:30px;}
.fromto{color:lime;font-weight:bold;font-size:15px;}
.fromto2{color:lime;font-weight:bold;font-size:14px;}
.viewmorelink.ui-link{text-decoration:none;color:lime;font-weight:bold;font-size:14px;}
.viewmorelink1.ui-link{text-decoration:none;color:lime;font-weight:bold;font-size:14px;}
.viewmorelink2.ui-link{text-decoration:none;color:white;font-weight:bold;font-size:14px;}
.viewmorelink3.ui-link{text-decoration:none;color:lime;font-weight:bold;font-size:14px;}
.content{background-image:none;background-color:#252424;}
li.ui-block-a{padding-left:0%;margin-top:0px;}
img.ui-li-thumb{width:70px;height:70px;margin-left:5px;margin-top:5px;border-radius:15px;}
.textaddtonetwork{font-size:13px;margin-left:-15px;display:block;overflow:hidden;text-overflow:ellipsis;}

.mapbackspan{margin-left:1%;margin-top:-99%;position:absolute;font-size:100%;height:15%;width:40%;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,black),color-stop(1,black));border:0px;border-radius:5px;color:white;font-weight:bold;font-size:150%;}
.mapbackspana{text-decoration:none;}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{list-style:none;background-color:white;border-radius:5px;width:90%;opacity:0.8;}
.ui-menu-item{padding-left:10%;font-family:Helvetica,Arial,sans-serif;font-size:18px;margin-bottom:8px;opacity:0.8;}
.ui-menu-item:hover,.ui-menu-item:active,.ui-menu-item:focus{background-color:black;color:white;border-radius:15px;width:90%;font-size:18px;margin-bottom:8px;opacity:1;}
span.ui-btn-text{font-size:15px;}


.myneeditsummaryimage{float:left;margin-right:10px;margin-bottom:5px;width:50px;background-color:#F0F0F0;border-radius:3px;}
.myneeditsummarytext{color:black;font-size:13px;}
.headertext.ui-title{font-size:14px;}
.footertext.ui-title{font-size:13px;}
.fb-share{padding-left:30px;}
.gplus{padding-left:30px;}
.fbcomments1{margin:0px;}


