*{margin:0px;font-family:'helvetica neue',arial;}
.ui-bar-a{background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,green),color-stop(1,green));border: 1px solid green;}
.ui-btn.ui-btn-icon-right.ui-li.ui-btn-up-a{font-size:13px;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,green),color-stop(1,green));height:40px;}
.ui-btn.ui-btn-icon-right.ui-li.ui-btn-hover-a{font-size:13px;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,green),color-stop(1,green));height:40px;}
.headertext{font-size:13px;height:30px;text-align:center;padding-top:10px;}
.footertext{font-size:11px;height:30px;text-align:center;padding-top:10px;}
.content{font-style:bold;font-size:14px;background-color:white;background-image:none;text-shadow:none;color:black;}
.ui-li-heading{font-size:15px;font-weight: bold;display: block;margin: .6em 0;white-space:normal;}
.ui-li-desc{font-size:13px;display: block;margin: .6em 0;white-space:normal;}
.mapbackspan{margin-left:1%;margin-top:-99%;position:absolute;font-size:100%;height:15%;width:40%;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,green),color-stop(1,green));border:0px;border-radius:5px;color:white;font-weight:bold;font-size:150%;}
.mapbackspana{text-decoration:none;}
.logo{text-align:center;}
.yes{color:green;font-weight:bold;}
.no{color:red;font-weight:bold;}
