.searchbox{margin-bottom:-40px;}
.ui-grid-a{padding-left:2%;}
.ui-block-a{padding-left:0%;margin-top:10px;}
.ui-btn.ui-btn-up-c.ui-btn-corner-all.ui-shadow{margin-left:10%;width:80%;}
.ui-btn.ui-btn-corner-all.ui-shadow.ui-btn-hover-c{margin-left:10%;width:80%;}
.needitsummaryblock{padding:0px;}
.needitsummaryimage{float:left;margin-right:10px;margin-bottom:5px;width:55px;height:60px;background-color:#F0F0F0;border-radius:5px;}
.needitsummarytext{color:black;font-size:13px;}
.viewmorelink.ui-link{text-decoration:none;color:green;font-weight:bold;font-size:12px;}
.needitsummaryendline{margin-top:5px;margin-bottom:5px;border:1px inset green;}
.myneeditsummaryimage{float:left;margin-right:10px;margin-bottom:5px;width:50px;background-color:#F0F0F0;border-radius:3px;}
.myneeditsummarytext{color:black;font-size:13px;}
.footertext.ui-title{font-size:13px;}
.getneeditimage{float:left;padding:1px;margin-top:20px;margin-right:10px;margin-bottom:35px;width:70px;background-color:#F0F0F0;}
.getneedittext{margin-top:-15px;color:black;font-size:14px;padding-left:80px;}
.viewmorelink1.ui-link{text-decoration:none;color:green;font-weight:bold;font-size:14px;}
.fb-share{padding-left:30px;}
.gplus{padding-left:30px;}
.fbcomments1{margin:0px;}
